:root {
    --main-bg-color: #2196f3;
    --background-color: #fff;
    --font-color: #212121;
    --item-color: #757575;
    --btn-color: #f5f4fa;
    --footer-bg-color: #2f303a;
    --header-bord-color: #ececec;
    --icon-team-color: #afb1b8;
    --hero-button-hover: #188ce8;
    --footer-border-input: rgba(255, 255, 255, 0.3);
    --footer-bg-input: rgba(33, 150, 243, 0);
}
