.button__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.button__link {
    margin-right: 8px;
}

.button__link:last-child {
    margin-right: 0;
}

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    border: none;
}

.button__head {
    color: var(--background-color);
    background-color: var(--main-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    text-align: center;
    min-width: 73px;
    border: none;
    padding: 6px 22px;
}

.button__header {
    color: var(--font-color);
    background-color: var(--btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    min-width: 70px;
    border: none;
    padding: 6px 22px;
}

.button__header:hover,
.button__header:focus {
    color: var(--background-color);
    background-color: var(--main-bg-color);
}
