.form {
    position: relative;
    padding: 40px;
}
.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form__label {
    display: flex;
    align-items: center;
}
.form__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: var(--font-color);
    margin-bottom: 12px;
}
.form__label {
    font-size: 14px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #757575;
}
.form__elements input {
    position: relative;
    display: block;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: transitionBorder;
}
.form__elements textarea {
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: transitionBorder;
    padding: 12px 16px;
}

.form__input {
    & {
        position: relative;
    }
    & svg {
        position: absolute;
        display: block;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        fill: var(--font-color);
        transition: $transitionFill;
    }
    & input:hover ~ svg,
    & input:focus ~ svg {
        fill: var(--main-bg-color);
    }

    & input:hover,
    & input:focus {
        border-color: var(--main-bg-color);
    }
}

.form__field textarea:hover,
.form__field textarea:focus {
    border-color: var(--main-bg-color);
}
input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.checkbox:checked + .custom__checkbox {
    border-color: transparent;
    background-color: var(--accent-colour);
    background-image: url(../image/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}
.form__field__checkbox {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.custom__checkbox {
    display: inline-block;
    text-align: center;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
}
.form__field__checkbox a {
    text-decoration-line: underline;
    color: var(--accent-colour);
}
.form__field__checkbox input {
    margin-right: 7px;
}
.form__field__checkbox {
    margin-top: 20px;
}

.modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: inherit;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    opacity: 1;
    transition: transitionOpasity 1000ms;
}

.modal__close {
    transition: $transitionFill;
}
.backdrop.is-hidden .modal-button-close {
    opacity: 0;
}
.modal__button__close:hover .modal__close,
.modal__button__close:focus .modal__close {
    fill: var(--main-bg-color);
}
