.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: $transitionOpasity;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    background-color: rgba(255, 255, 255, 1);

    transform: translate(-50%, -50%) scale(1);
    transition: $transitionTransform;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}
.modal__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: inherit;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    opacity: 1;
    transition: $transitionOpasity 1000ms;
}

.backdrop.is-hidden .modal-button {
    opacity: 0;
}
